body{
    margin: 0;
    text-align: center;
}


.navi ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

.navi ol li{
    float: left;
    margin: 0;
    border-right: 1px solid #bbb;
    background-color: gray;
}

.navi ol li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navi ol li a:hover {
    background-color: #111;
  }

.active {
    background-color: #111;
}

@media(max-width:800px){
    #grid{
        display: block;
    }
    #grid ol{
    border-right:none;
}    
}