body{
    margin: 0;
    text-align: center;
}


.navi ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

.navi ul li{
    float: left;
    margin: 0;
    border-right: 1px solid #bbb;
    background-color: gray;
}

.navi ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navi .dropbtn {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navi .dropdown {
    display: inline-block;
}

.navi .dropdowncon {
    display: none;
    background-color: gray;
    position: absolute;
    min-width: 103px;
}

.navi .dropdowncon a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navi .dropdown:hover .dropdowncon {
    display: block;
  }

.active {
    background-color: #111;
}

#active {
    background-color: #111;
}